.about-us{
    height: 384px;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//..//assets/about/aboutbg.jpeg') !important;
}
.about-section2{
    width: 70vw;
    display:flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-section2 h1{
    font-size: 48px;
}
.about-section2 p{
    font-size: 24px;
}


@media screen and (max-width: 1300px) {
    .about-section2 {
        width: 80vw;
    }    
}
@media screen and (max-width: 850px) {
    .about-section2 {
        width: 90vw;
    }    
}