.section1-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//..//assets/destinationitaly/bg.jpeg');
}

.text-italy{
    font-size: 80px !important;
}
.create-trip{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4A21EF;
    color: #fff;
    font-size: 32px;
    border: none;
    border-radius: 48px;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}
.bg-map-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('..//..//assets/destinationitaly/MapItaly.png') !important;
}

.map-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map-section .topmap-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.map-section .topmap-section h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.map-section .topmap-section .arrow{
    display: flex;
    gap: 30px;
}
.map-section .topmap-section .arrow div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;
    cursor: pointer;
}
.map-section .bottommap-section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 150px 0;
    margin: 0 -140px;
}
.map-section .bottommap-section div{
    width: 500px;
    height: 400px;
    background-color: #FFF;
    border-radius: 20px 20px 0 0;
    border: 1px solid rgb(94, 94, 94, .7);
}
.map-section .bottommap-section div img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}
.map-section .bottommap-section div p{
    margin: 20px 10px;
}
.bg-italy{
    background-image: url('..//../assets/destinationitaly/framebg.png') !important;
}


@media screen and (max-width: 850px) {
    .map-section .topmap-section {
        padding: 50px 50px;
    }
    .map-section .bottommap-section {
        margin: 0 -40px;
    }
}
@media screen and (max-width: 550px) {
    .map-section .topmap-section {
        padding: 50px 10px;
    }
    .map-section .topmap-section h1 {
        font-size: 30px;
    }
    .map-section .bottommap-section{
        margin-right: 0px;
        padding: 0 0 20px 0;
    }

    .map-section .bottommap-section div {
        margin-right: -20px;
        width: 300px;
        height: 300px;
    }
}