.container .right .forgot-password{
    justify-content: flex-start !important;
    gap: 220px !important;
    margin: 50px 0;
}
.container .right .forgot-password span{
    color: gray;
    margin: 20px 0;
}
.container .right .forgot-password .forgotpassword-h1{
    margin:0;
}